<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página principal</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="cerrarSesion()">Cerrar Sesión
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página principal</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <div class="main-container background-image">


    <div class="contenedor">
      
      <ion-card class="card" (click)="irHacia('cosasLindas')">
        
        <ion-card-header >
          <ion-card-title>Cosas Lindas</ion-card-title>
          <ion-card-subtitle>Ver</ion-card-subtitle>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="/assets/lindas.png" />
      
        <ion-card-content>
        </ion-card-content>
      </ion-card>
      <ion-card class="card" (click)="irHacia('cosasFeas')">
        
        <ion-card-header>
          <ion-card-title>Cosas Feas</ion-card-title>
          <ion-card-subtitle>Ver</ion-card-subtitle>
        </ion-card-header>
        <img alt="Silhouette of mountains" src="/assets/feas.png" />
      
        <ion-card-content>
        </ion-card-content>
      </ion-card>

     
    </div>
    

  </div>
</ion-content>


