<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">auth</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="background-image">

    <div class="main-container">
      <div class="icon ion-text-center">
        <img src="assets/icon.png">
  
      </div>
      <h1 class="heading ion-text-center">Relevamiento Visual<br><br></h1>
  
      <div class="contenedor-login">
  
        <p class="para">Iniciar sesion</p>
  
        <form [formGroup]="formData">
          <!-- <ion-item class="ion-item">
            <ion-input label="Email" label-placement="floating"  fill="solid" placeholder="nombre@dominio.com" formControlName="email" type="email"></ion-input>
            

          </ion-item> -->

          <div class="input-container">
            <input class="transparent-input" placeholder="Email" formControlName="email" type="email">
            

          </div>
          <div class="input-container">
            
            <input class="transparent-input" placeholder="Contraseña" formControlName="password" type="password">

          </div>
          <!-- <ion-item  class="ion-item">
            <ion-input label="Contraseña" label-placement="floating"  fill="solid" placeholder="******" formControlName="password" type="password"></ion-input>       
            
          </ion-item> -->
  
          <ion-button class="login-button" type="submit" (click)="login()" expand="block">Ingresar</ion-button>
  
        </form>
      </div>

      <div class="autologuin-container">
        <div class="contenedor-imagen" (click)="completarDatos('admin@admin.com','111111')">
          <img class="img-user" src="/assets/admin.png" alt="">
        </div>
        <div class="contenedor-imagen" (click)="completarDatos('invitado@invitado.com','222222')">
          <img class="img-user" src="/assets/invitado.png" alt="">
        </div>
        <div class="contenedor-imagen" (click)="completarDatos('anonimo@anonimo.com','444444')">
          <img class="img-user" src="/assets/anonimo.png" alt="">
        </div>



      </div>



    </div>
    
  </div>

  <!-- <ion-fab class="fab" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" class="botonPrincipal">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="primary" class="botonesLogueo">
        <ion-img src="/assets/admin.png" (click)="completarDatos('admin@admin.com','111111')"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="secondary" class="botonesLogueo">
        <ion-img src="/assets/invitado.png" (click)="completarDatos('invitado@invitado.com','222222')"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="tertiary" class="botonesLogueo">
        <ion-img src="/assets/anonimo.png" (click)="completarDatos('anonimo@anonimo.com','444444')"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  
</ion-content>