

<ion-content>
  <div class="background-image">

    <div class="main-container">
      <div class="icon ion-text-center">
        <img src="assets/icon.png">
  
      </div>
      <h1 class="heading ion-text-center">Relevamiento Visual<br><br></h1>
  
      <div class="contenedor-login">
  
        <p class="para">Iniciar sesión</p>
  
        <form [formGroup]="formData">
          <!-- <ion-item class="ion-item">
            <ion-input label="Email" label-placement="floating"  fill="solid" placeholder="nombre@dominio.com" formControlName="email" type="email"></ion-input>
            

          </ion-item> -->

          <div class="input-container">
            <input class="transparent-input" placeholder="Correo" formControlName="email" type="email">
            

          </div>
          <div class="input-container">
            
            <input class="transparent-input" placeholder="Contraseña" formControlName="password" type="password">

          </div>
          <!-- <ion-item  class="ion-item">
            <ion-input label="Contraseña" label-placement="floating"  fill="solid" placeholder="******" formControlName="password" type="password"></ion-input>       
            
          </ion-item> -->
  
          <ion-button class="login-button" type="submit" (click)="login()" expand="block">Ingresar</ion-button>
  
        </form>
      </div>

      <div class="autologuin-container">
        <div class="contenedor-imagen" (click)="completarDatos('admin@admin.com','111111')">
          <img class="img-user" src="/assets/admin.png" alt="">
        </div>
        <div class="contenedor-imagen" (click)="completarDatos('invitado@invitado.com','222222')">
          <img class="img-user" src="/assets/invitado.png" alt="">
        </div>
        <div class="contenedor-imagen" (click)="completarDatos('anonimo@anonimo.com','444444')">
          <img class="img-user" src="/assets/anonimo.png" alt="">
        </div>



      </div>



    </div>
    
  </div>

  
</ion-content>